.community-main {
  width: 1130px;
  margin: 0px auto;
  display: flex;
  position: relative;
}

.video__container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  justify-content: center;
}
