@import "./css/reset.css";
@import "./header.css";
* {
  box-sizing: border-box;
}
a {
  text-decoration-line: none;
  color: #c3c3c3;
}
body {
  background-color: #181818;
  color: #c3c3c3;
  position: relative;
  font-size: 16px;
  margin: 0px;
  display: block;
}
main {
  position: relative;
  width: 1130px;
  padding: 20px 30px;
  margin: 0px auto;
}

#new-video-container {
  display: flex;
  position: relative;
  justify-content: center;
  border-bottom: 1px solid #383838;
}
#new-video-container > ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  padding: 0px;
  justify-content: center;
}
.new-video {
  width: 500px;
}
.new-video > video {
  width: 100%;
}
.new-video > a {
  display: block;
  font-size: 25px;
  text-align: center;
}
#video-head {
  margin-bottom: 0px;
  margin-top: 55px;
  font-size: 30px;
  text-align: center;
  color: aliceblue;
}
